body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Style buttons uniformly across site - redefine Bootstrap btns used in project */
.btn,
.btn-primary, 
.btn-default {
    background: #4172a8;
    color: #fff;
    min-width: 10%;
    padding: 6px 12px;
}

.btn:hover,
.btn-primary:hover,
.btn-default:hover {
    background: #286090;
    border-color: #204d74;
    color: #fff;
}

/* Render Bootstrap nav-pills buttons like other buttons across site */
.nav-pills > li > a,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
    background: #4172a8;
    color: #fff;
    min-width: 10%;
    padding: 6px 12px;
}

/* Override Bootstrap Sandstone theme default link colors */
a {
    color: #4172a8;
}

a:hover {
    color: #286090;
}

.nav-pills > li > a:hover,
.nav-pills > li.active > a:hover {
    background: #286090;
    border-color: #204d74;
}

/* Indent dropdown menus items considered to be submenus (like Create on the Seller Dashboard) */
.submenu {
    padding-left: 35px !important;
}

/* Adjust dropdown menu hover/focus background */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #f6f6f6;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.container {
    padding-right: 0px;
    padding-left: 0px;
}

/*Register Form Formating*/

.container .btn-left {
    margin-left:15px;
}

.container .radio .radio-form {
    margin-left:15px;
}


.dl-horizontal dt {
    white-space: normal;
}

.dl-horizontal {
    text-align:left;
    font-weight:600;
    font-family:Arial, Helvetica, sans-serif
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 370px;
    min-width: 300px;
}

/*Remove borders from _Details, _Panel pages by overriding the BootStrap*/
#bootstrap-override .modal-header, .list-group-item {
    border: none;
}

/* Sets the design for the sale price in the details and index page of campaign*/
.specialprice {
    font-weight:600;
    color:#4172a8;
    font-size:20px;
    margin:0.50em 0;
}

/* Located in the details modal view of the campaign */
.details-description {
    font-weight:300;
}

.btn-amazon {
    background-color: black; 
    color: #FFF;
}

/* Campaign INDEX page */

/*This syntax operates on any class starting with 'campaign-panel-'*/
div[class|='campaign-panel'] {
    text-align: center;
    /*box-shadow:3px 5px 5px grey; 
    border-radius:5px; 
    border:1px solid #000; 
    margin:10px;
    margin-left:5px;
    margin-right:5px;*/
    max-height: 350px;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #e9e9e9;
    background: white;
}

/*div[class|='panel-body'] {
    padding:8px;
}*/

    /*sort dropdown and search*/
.filterArea {
    display: inline-block;
    padding: 0px 7px;
}

.filterArea .dropdown-menu {
    background-color: #4172a8;
}

.filterArea .dropdown-menu > li > a {
    font-weight: bold;
    color: #FFF;
}

.filterArea .dropdown-menu > li > a:hover{
    background-color: rgba(20, 92, 172, 0.4);
}

#campaignSearch {
    padding-right: 10%;
}
#searchButton {
    margin-left: -10%;
    background: #ffffff;
    color: #808080;

    border: 0px;
    border-left: none;
    cursor: pointer;
}

.modal-title {
    font-weight:600; 
    font-size:large;
}

.navbar-left {
    padding: 5px;
    height: 100%;
}

.navbar-default {
    /*background-color: #4172a8;
    border-radius: 0;*/
    border: none;
    box-shadow: 0 0 16px 0 #888888;
}

.navbar-default .navbar-brand {
    color: #ccc;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #4172a8;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ccc;
    background-color: #ccc;
}

.navbar-default .navbar-text {
    color: #ccc;
}

.navbar-default .navbar-toggle {
    border-color: #ccc;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4172a8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ccc;
}

/* navbar - collapse at 991px instead of the Bootstrap default 768px */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;         
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }
}

/* Campaign ABOUT page */

.card-body {
    padding-bottom: 1em
}

.about-input {
    min-width: 280px;
}

.fa-envelope {
    padding-right: 8px;
}

.fa-icon-container:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.fa-icon-container {
    text-align: center;
    height: 90px;
    max-width: 400px;
}

/*Review CREATE page*/
@media (min-width: 576px) {
    .details {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .details {
        width: 66%;
    }
}
.details{
    align-content: center;
    overflow: auto;
}

/*Campaign CREATE page*/

#Description {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#VendorsPurchaseInstructions {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.campaign-create {
    width: 60%;
    float: left;
}

.campaign-create-details {
    width: 35%;
    float: left;
}

/*Details partial*/
#details-bootstrap-overrides .list-group-item {
    border: none;
}

.custom-dropdown {
    /*width: 120px;*/
    display: none;
    height: 22px;
    border: 1px solid black;
    /*background-image: url('../../images/br_logo_gold.png');*/
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;
    padding: 0;
    position: absolute;
}

.ulCustom-dropdown{
    /*display: none;*/
    /*width: 120px;*/
    background-color: white;
    border: 1px solid black;
    border-top: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.custom-dropdown:hover {
    display: inline;
}

#promotionCampaignList li:hover {
    background-color: lightblue;
    cursor: pointer;
}

.imgDisplay {
    display: inline;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.imageText {
    display: inline;
    vertical-align: middle;
    padding-left: 5px;
}


/* Promotions CREATE page*/
.promotionCampaignList li {
    background-color: #4172a8;
    cursor: pointer;
}

.item-description {
    font-weight: 400;
    text-align: left;
}

.inputListDropdown {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

/*Promotions/Create Bootstrap override*/
#caret-override {
    color: #000000;
    border-top-color: #ccc;
    border-top-width: 1px;
    border-top-style: solid;
}

.imgThumb {
    max-height: 50px;
    max-width: 50px;    
}

/*Overriding Bootstrap for Campains/AdminView */
#AdminView-OpenCampaign input {
    min-width: 100%;
}

.dropdown-menu > li > ul > a {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > ul:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > li > ul > a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

/* Details partial - from Campaigns INDEX */
@media (min-width: 991px) {
    .campaign-index-details .details-top {
        width: 33%;
        float: left;
    }
}

.txt-center {
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

    .rating > label {
        float: right;
        display: inline;
        padding: 0;
        margin: 0;
        position: relative;
        width: 1.1em;
        cursor: pointer;
        color: #000;
    }

        .rating > label:hover,
        .rating > label:hover ~ label,
        .rating > input.radio-btn:checked ~ label {
            color: transparent;
        }

            .rating > label:hover:before,
            .rating > label:hover ~ label:before,
            .rating > input.radio-btn:checked ~ label:before,
            .rating > input.radio-btn:checked ~ label:before {
                content: "\2605";
                position: absolute;
                left: 0;
                color: #FFD700;
            }

.fa-user-circle {
    color: white; 
}

.table-sizing{
    width:auto;
}

/* div holding the title and tagline - in _Layout  */
.topic {
    margin-top: -40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
    background: #e9e9e9 url("../Images/noise.jpg");
    box-sizing: border-box;
    padding-top: 63px;
    min-height: 120px;
    vertical-align: middle;
}

    .topic h3 {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .topic .tagline {
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 400;
    }

/* footer */
footer {
    padding: 30px 0;
    margin-top: 0;
    background: #e9e9e9 url("../Images/noise.jpg") repeat;
    border-top: 1px solid #dcdcdc;
    font-size: 13px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.175);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.175);
}

/* Campaign About Page */
h1.title-lg {
    font-size: 23px;
}

h3.title-lg {
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.title-lg {
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 0 20px 15px;
    border-bottom: 1px solid #e9e9e9;
    font-weight: 700;
}

.lead {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #4172a8;
}

.about-body {
    line-height: 1.8;
}

.about-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.contactForm {
    margin: 0 auto;
    max-width: 450px;
}

::-webkit-input-placeholder {
    color: #FF0000;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

/* Panel Group on Campaign About page */
.panel-group {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
}

.panel-group .panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.panel-group .panel + .panel {
    margin-top: -2px;
}

.panel-group .panel-heading {
    padding: 0;
    background: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.panel-group .panel-body {
    font-size: 13px;
    background: #f6f6f6;
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.03);
}

.panel-group .panel-heading a {
    position: relative;
    display: block;
    padding: 12px 40px 12px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #606060;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
}

.panel-group .panel-heading a:after {
    display: block;
    content: "-";
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: white;
    text-align: center;
    background-color: #606060;
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    transition: background 300ms;
}

.panel-group .panel-heading .collapsed:after {
    content: "+" !important;
}

.panel-group .panel-heading a:hover {
    color: #4172a8;
}

.panel-group .panel-heading a:hover:after,
.panel-group .panel-heading .collapsed:hover:after {
    background: #4172a8;
}